<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:26:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTesting.Login()[pri:1, instance:com.testng.DemoTesting@4f80542f]">Login</td> 
  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:27:18</td>   <td>23841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTesting.Logoutfun()[pri:5, instance:com.testng.DemoTesting@4f80542f]">Logoutfun</td> 
  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:27:01</td>   <td>6819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTesting.Manufactures()[pri:4, instance:com.testng.DemoTesting@4f80542f]">Manufactures</td> 
  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:27:00</td>   <td>5618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTesting.Products()[pri:3, instance:com.testng.DemoTesting@4f80542f]">Products</td> 
  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:26:56</td>   <td>2022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTesting.category()[pri:2, instance:com.testng.DemoTesting@4f80542f]">category</td> 
  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:27:19</td>   <td>25031</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoTesting.closebrowser()[pri:0, instance:com.testng.DemoTesting@4f80542f]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1835073088</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:26:51</td>   <td>-2581</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTesting.openBrowser()[pri:0, instance:com.testng.DemoTesting@4f80542f]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1835073088</td>   <td></td> </tr>
</table>
